<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Footer</title>
<link rel="stylesheet" type="text/css" href="../css/footer.css">
</head>
<body>
	<section class="contact-area" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="contact-content text-center">
						<p>At National Book Store, we offer many kinds of genres.
							Ranging from horror to romance, you will definitely find your
							pick! We commit to giving you the best!</p>
						<div class="hr"></div>
						<h6>21 Tuas North Boulevard, 937838</h6>
						<h6>+65 6483 3840</h6>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== 1.9 Contact Area End ====================-->
	<!-- =============== 1.9 Footer Area Start ====================-->
	<footer>
		<p>Copyright &copy; 2023 National Book Store</p>
	</footer>
</body>
</html>