<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/header.css">
</head>
<body>
	<nav class="main-nav">
		<a href="index.jsp"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/National_Book_Store_2016_logo.svg/1200px-National_Book_Store_2016_logo.svg.png" alt="Library" class="logo"></a>

		<ul class="main-menu">
			<li><a href="#">Fantasy</a></li>
			<li><a href="#">Romance</a></li>
			<li><a href="#">Science Fiction</a></li>
		</ul>

		<div class="icon-about">
			<a href="login.jsp" target="blank">Login/Register</a>
			<!-- <i class="material-icons"><span class="material-icons-outlined">account_circle</span></i> -->
			<a href="#">About-Us</a>
		</div>
	</nav>
</body>
</html>