<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Header</title>
<link rel="stylesheet" type="text/css" href="../css/header.css">
</head>
<body>
	<nav class="main-nav">
		<a href="index.jsp">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/National_Book_Store_2016_logo.svg/1200px-National_Book_Store_2016_logo.svg.png" alt="Library" class="logo">
		</a>

		<div class="icon-about">
			<ul>
				<li><a href="login.jsp">Login/Register</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>