<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Logged In Header</title>
<link rel="stylesheet" type="text/css" href="../css/loggedInHeader.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<nav class="main-nav">
		<a href="index.jsp">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/National_Book_Store_2016_logo.svg/1200px-National_Book_Store_2016_logo.svg.png" alt="Library" class="logo">
		</a>

		<div class="icon-about">
			<ul>
				<li class="cart"><a href="cart.jsp">
						<i class="fa fa-shopping-cart" aria-hidden="true" style="padding-right: 0.6em;"></i>Cart
					</a></li>
				<li class="logout" style="margin-bottom: 10px;"><a href="invalidateSession.jsp">Logout</a></li>
				<li class="profile"><a href="userProfile.jsp">Profile</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>